.message {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}

.messageContainer {
    position: relative;
    text-align: center;
    height: 50px;
    background-color: lightblue;
}